<?xml version="1.0" encoding="UTF-8" ?>
<settings xsi:schemaLocation='http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd'
          xmlns='http://maven.apache.org/SETTINGS/1.0.0' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'>

    <!-- this is a template used by circleci to get access to our bintray
         to perform package installs.  NO PASSWORDS are stored here because
         they are filled in with environment variables.  This file is copied
         to ~/.m2 and then the variables are filled in via the environment.
    -->

    <servers>

        <server>
            <id>ssh-repository</id>
            <username>maven</username>
            <password>${env.MAVEN_PASSWORD}</password>
        </server>

        <server>
            <username>admin</username>
            <password>${env.ARTIFACTORY_PASSWORD}}</password>
            <id>spinn3r</id>
        </server>

    </servers>

    <profiles>
        <profile>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central</id>
                    <name>libs-release</name>
                    <url>https://spinn3r.artifactoryonline.com/spinn3r/libs-release</url>
                </repository>
                <repository>
                    <snapshots />
                    <id>snapshots</id>
                    <name>libs-snapshot</name>
                    <url>https://spinn3r.artifactoryonline.com/spinn3r/libs-snapshot</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central</id>
                    <name>plugins-release</name>
                    <url>https://spinn3r.artifactoryonline.com/spinn3r/plugins-release</url>
                </pluginRepository>
                <pluginRepository>
                    <snapshots />
                    <id>snapshots</id>
                    <name>plugins-snapshot</name>
                    <url>https://spinn3r.artifactoryonline.com/spinn3r/plugins-snapshot</url>
                </pluginRepository>
            </pluginRepositories>
            <id>artifactory</id>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>artifactory</activeProfile>
    </activeProfiles>

</settings>
